.RegisterForm {
    background-image: url("/src/Register/login_dackground9.jpg");
    height: 100vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative
}

.register_table_back {
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -300px;
    background-image: url('/src/Register/table7.gif');
    width: 600px;
    height: 350px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
}

.reg_frame {
    top: 50%;
    margin-top: -240px;
    left: 50%;
    margin-left: -200px;
    background-image: url('/src/Register/register_frame.gif');
    width: 380px;
    height: 400px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.reg_items {
    top: 32%;
    position: relative;
}

.Pass_reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;

    color: var(--grey);
    text-shadow: var(--bel) -1px -1px 1px,
    var(--black) 1px 1px 1px,
    var(--bel) 3px 3px 3px;
    mix-blend-mode: luminosity;
}
.Pass {

    color: var(--grey);
    text-shadow: var(--bel) -1px -1px 1px,
    var(--black) 1px 1px 1px,
    var(--bel) 3px 3px 3px;
    mix-blend-mode: luminosity;
}
.Okreg1 {
    width: 500px;
    margin-top: 35px;
    margin-left: -60px;
}

.Restore, .Back {
    color: var(--blue);
    font-weight: normal;
    font-size: 18px;
    text-shadow: var(--black) -2px -2px 2px,
    var(--black) 2px 2px 2px,
}
.RestBack {
    position: relative;
    margin-top: 80px;
        line-height: 0.5;
}