.LoginForm{
    background-image: url("/src/Login/login_dackground9.jpg");
    height: 100vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative
}
.Button1 {
    /* margin-top: 13px;*/
    /*margin-left: 100px;*/
}

.Registration {
    margin-left: 10px;
    margin-top: -20px;
    line-height: 4;
    /*Registration  color: #0d01ac;*/
    /*font-weight: normal;*/
    /*font-size: 17px;*/
    color: var(--blue);
    font-weight: normal;
    font-size: 18px;
    text-shadow: var(--black) -2px -2px 2px,
    var(--black) 2px 2px 2px,
}
.Okreg {
        /*position: absolute;*/
       margin-left: 10px;
    margin-top: 15px;
    line-height: 0.5;
}
.login_table_back {
        top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -250px;
       background-image: url('/src/Login/table52.gif');
    width: 500px;
    height: 300px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: absolute;
}
.login_frame {
    top: 50%;
    margin-top: -135px;
    left: 50%;
    margin-left: -140px;
       background-image: url('/src/Login/login_frame.gif');
    width: 280px;
    height: 180px;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}
.login_items{
    top: 31%;
    position: relative;
}

